@import 'libs/bootstrap-reboot.min';
@import 'base/mixins';
@import 'base/animations';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


@import 'blocks/header/header';
@import 'blocks/header/__wrapper/header__wrapper';

@import 'blocks/promo/promo';
@import 'blocks/promo/__wrapper/promo__wrapper';
@import 'blocks/promo/__title/promo__title';
@import 'blocks/promo/__subtitle/promo__subtitle';
@import 'blocks/promo/__logo/promo__logo';
@import 'blocks/promo/__more/promo__more';
@import 'blocks/promo/__arrow/promo__arrow';
@import 'blocks/promo/__logo-link/promo__logo-link';
@import 'blocks/promo/__arrow-link/promo__arrow-link';

@import 'blocks/info/info';
@import 'blocks/info/__wrapper/info__wrapper';
@import 'blocks/info/__title/info__title';
@import 'blocks/info/__text/info__text';

@import 'blocks/checkout/checkout';
@import 'blocks/checkout/__wrapper/checkout__wrapper';
@import 'blocks/checkout/__title/checkout__title';
@import 'blocks/checkout/__cards/checkout__cards';
@import 'blocks/checkout/__cards-title/checkout__cards-title';
@import 'blocks/checkout/__cards-item/checkout__cards-item';
@import 'blocks/checkout/__cards-image/checkout__cards-image';
@import 'blocks/checkout/__btn/checkout__btn';
@import 'blocks/checkout/__cards-text/checkout__cards-text';

@import 'blocks/social/social';
@import 'blocks/social/__title/social__title';
@import 'blocks/social/__sign/social__sign';
@import 'blocks/social/__sign-list/social__sign-list';
@import 'blocks/social/__sign-link/social__sign-link';
@import 'blocks/social/__sign-icon/social__sign-icon';
@import 'blocks/social/__sign-caption/social__sign-caption';
@import 'blocks/social/__wrapper/social__wrapper';

@import 'blocks/faq/faq';
@import 'blocks/faq/__wrapper/faq__wrapper';
@import 'blocks/faq/__items/faq__items';
@import 'blocks/faq/__title/faq__title';
@import 'blocks/faq/__item/faq__item';
@import 'blocks/faq/__caption/faq__caption';
@import 'blocks/faq/__text/faq__text';


*, *:before, *:after {
  box-sizing: inherit;
}


* {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
}

ul, ol {
  margin-bottom: 0;
  padding-bottom: 0;
}

h1, h2, h3, h4, h5, h6, p, label {
  margin-bottom: 0;
  padding-bottom: 0;
}

input, button, textarea {
  outline: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}


// Accordion styles

.ac {
  border: none;
  margin-top: 0;
}

.ac-header {
  /* border-bottom: 1px solid #D8E3FE; */
}

.ac .ac-trigger {
  padding: 24px 0 25px 0;
  position: relative;
  font: normal 20px Noto Sans, sans-serif;
  color: #404040;
  border-bottom: 1px solid #ADADAD;
}

.ac .ac-panel .ac-text {
  padding: 0;
}

.ac.is-active>.ac-header .ac-trigger {
  font-weight: 700;
}

.ac.is-active>.ac-header .ac-trigger::before {
  content: url('../assets/svg/faq-up.svg');
  position: absolute;
  right: 0;
}

.ac .ac-trigger::before {
  content: url('../assets/svg/faq-down.svg');
  position: absolute;
  right: 0;
}

.ac.is-active>.ac-header .ac-trigger::after {
  content: '';
  display: none;
}

.ac .ac-trigger::after {
  content: '';
  display: none;
}
