@import 'libs/bootstrap-reboot.min';
@import 'base/mixins';
@import 'base/animations';

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');


@import 'blocks/header/header';
@import 'blocks/header/__wrapper/header__wrapper';

@import 'blocks/promo/promo';
@import 'blocks/promo/__wrapper/promo__wrapper';
@import 'blocks/promo/__title/promo__title';
@import 'blocks/promo/__subtitle/promo__subtitle';
@import 'blocks/promo/__logo/promo__logo';
@import 'blocks/promo/__more/promo__more';
@import 'blocks/promo/__arrow/promo__arrow';


*, *:before, *:after {
  box-sizing: inherit;
}


* {
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
}

ul, ol {
  margin-bottom: 0;
  padding-bottom: 0;
}

h1, h2, h3, h4, h5, h6, p, label {
  margin-bottom: 0;
  padding-bottom: 0;
}

input, button, textarea {
  outline: none;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

button:active, button:focus {
  outline: none;
}
button::-moz-focus-inner {
  border: 0;
}
