.promo {

  &__subtitle {
    margin-top: 7px;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
    z-index: 10;
    @include for-tablet {
      font-size: 28px;
      line-height: 38px;
    }
    @include for-phone {
      font-size: 11px;
      line-height: 14px;
    }
  }

}
