.checkout {

  &__title {
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #765151;
    @include for-tablet {
      width: 483px;
    }
    @include for-phone {
      width: 100%;
      font-size: 14px;
      line-height: 19px;
    }
  }
}
