.promo {

  &__title {
    margin-top: 16px;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    z-index: 10;
    @include for-tablet {
      font-size: 36px;
      line-height: 64px;
    }
    @include for-phone {
      margin-top: 14px;
      font-size: 15px;
      line-height: 25px;
    }
  }
}
