.promo {

  &__title {
    margin-top: 16px;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
}
