.social {

  &__title {
    width: 974px;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #765151;
    @include for-tablet {
      width: 100%;
    }
    @include for-phone {
      width: 100%;
      font-size: 12px;
      line-height: 16px;
    }
  }

}
