.checkout {

  &__cards-text {
    padding: 24px 14px 47px 12px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #000000;
    @include for-phone {
      font-size: 8px;
      line-height: 11px;
      padding: 16px 10px 19px 10px;
    }
  }
}
