.promo {

  &__arrow {
    margin-top: 25px;
    width: 25px;
    height: 25px;
    z-index: 10;
    cursor: pointer;
    @include for-phone {
      margin-top: 10px;
      width: 9px;
      height: 9px;
    }
  }
}
