.promo {

  &__more {
    margin-top: 224px;
    font-weight: normal;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #FFFFFF;
    z-index: 10;
    @include for-tablet {
      margin-top: 263px;
    }
    @include for-phone {
      margin-top: 89px;
      font-size: 10px;
      line-height: 13px;
    }
  }
}
