.info {
  background-color: #FFFFFF;
  &__wrapper {
    padding: 39px 0;
    width: 504px;
    margin: 0 auto;
    @include for-tablet {
      padding: 48px 0;
    }
    @include for-phone {
      width: 100%;
      padding: 16px 0;
    }
  }

}

