.checkout {

  &__btn {
    display: block;
    margin-top: 36px;
    padding: 12px 31px;
    background-color: #765151;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 130%;
    letter-spacing: 3.46589px;
    color: #F0E3DF;
    @include for-phone {
      margin-top: 23px;
      padding: 7px 21px;
      font-size: 12px;
      line-height: 16px;
    }
    &:hover {
      color: #f0e3df;
      text-decoration: none;
      background-color: #946565;
    }
  }
}
